@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Josefin+Slab|Arvo|Lato|Vollkorn|Abril+Fatface|Old+Standard+TT|Droid+Sans|Lobster|Inconsolata|Montserrat|Playfair+Display|Karla|Alegreya|Libre+Baskerville|Merriweather|Lora|Archivo+Narrow|Neuton|Signika|Questrial|Fjalla+One|Bitter|Varela+Round);
@import url('https://fonts.googleapis.com/css2?family=Century+Gothic:wght@200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Century Gothic Bold';
  src: url('../webfonts/CenturyGothic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Century Gothic';
  src: url('../webfonts/CenturyGothic.ttf') format('truetype');
}
@font-face {
  font-family: 'Lemon Milk';
  src: url('../webfonts/LEMONMILK-Regular.otf') format('truetype');
}

.ubimap{
        width: 3%;
        position: fixed;
        left: 54.4%;
        top: 37%;
   }
.observablehq{
    margin-top: 7%;
    margin-left: 7%;
}
.background {
    height: 100%;
    width: 100%;
}
#departamento{
    font-family:'Lemon Milk';
    font-size:100%;
    width:90%;
    margin-left:10%;
    padding-top:3%;
    line-height:1;
}

#direccion{
    font-family:'Century Gothic';
    font-size:80%;
    width:80%;
    margin-left:10%;
}

#duwest{
    font-family:'Century Gothic';
    font-size:90%;
    width:80%;
    margin-left:10%;
}
#celmap{
    width: 1.5%;
    position: fixed;
    left: 55%;
    top: 46.5%;
}
#celinfo{
    font-family:'Century Gothic';font-size:80%;width:80%;margin-left:10%;padding-top:0%;padding-bottom:0%;line-height:0;
}
#pbx{
    font-family:'Century Gothic';font-size:80%;width:80%;margin-left:10%;padding-top:0%;padding-bottom:2%;line-height:0;
}
#imgsede{
    width: 80%;
    height: auto;
    position: relative;
    margin-top: 5%;

}

body {
  color:white !important;
}
.background {
  fill: transparent;
  pointer-events: all;
}

.map-layer {
  fill: green !important;
  stroke: white !important;
  color: white !important;
}

.effect-layer{
  /* other styles... */
}

text{
  font-family:'Lemon Milk';
  font-weight: 300;
  color: white;

}

text.big-text{
  position:fixed;
  top: 370%;
  font-size: 30px;
}
.map-layer text.big-text {
  font-weight: bold;
  color: white !important;
  font-family:'Lemon Milk';

}

.effect-layer text, text.dummy-text{
  font-size: 12px;
  color: #FFFFFF;

}
#imgsedecontainer{
    width: 100%;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    top: 0%;
    height: 48%;
   
}
.department-info {
  float: left;
  position: fixed;
  width: 30%;
  background-color: rgba(0 , 0, 0, 0.6);
  left: 54%;
  top: 32%;
  z-index: 999;
  height: 57%;
  color: #FFFFFF;
  border-radius:10px;
  font-family: 'Century Gothic';
  color: white;

}
.department-info-title {
  float: left;
  position: fixed;
  width: 30%;
  background-color: rgba(0 , 0, 0, 0.6);
  left: 54%;
  top: 17%;
  z-index: 999;
  height: auto;
  color: #FFFFFF;
  border-radius:10px;
  font-family: 'Lemon Milk';
  text-align: center;

}
.department-info-title h2{
font-size: 24px !important;
padding-top: 1px;
padding-bottom: 1px;
color: #FFFFFF;
font-family: "Lemon Milk";


}
.marker-image {
  position: absolute;
  /* adjust width and height as needed */
  width: 20px;
  height: 20px;
}
@media (max-width: 1400px) {
    .department-info-title {
       
        top: 27%;
       
    }
    .department-info {
        
        top: 43%;
       
    }
    .ubimap{
        width: 3%;
        position: fixed;
        left: 54.4%;
        top: 52%;
   }
   #imgsedecontainer{
    width: 80%;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    top: 0%;
    height: 38%;
   }
   .observablehq {
    margin-top: 1%;
    margin-left: -5%;
}
#imgsede {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 0%;
}
}