/* 	
Template 2102 Constructive
http://www.tooplate.com/view/2102-constructive
*/
/* Importa la fuente Centuri Gothic */
@import url('https://fonts.cdnfonts.com/css/lemonmilk');
@import url('https://fonts.googleapis.com/css2?family=Century+Gothic&display=swap');

#inlineFrameExample {
    border: 0px;
}

/* Importación de las fuentes */
@import url('https://fonts.googleapis.com/css2?family=Century+Gothic:wght@200;300;400;500;600;700;800;900&display=swap');

/* Uso de las fuentes */

.fuente-century-gothic {
    font-family: 'Century Gothic', sans-serif;
}

.fuente-leomn-milk {
    font-family: 'Leomn Milk', sans-serif;
}

.bold {
    font-weight: bold;
}

.menu-icon {
    background: #00000000;
    color: #ffffff;
    cursor: pointer;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 5px;
    width: 5vw;
    height: 6vh;
    z-index: 1001;
}

.sec1 {
    backdrop-filter: blur(calc((0.1vw + 0.1vh)));
    overflow: hidden;
    font-size: calc((1vw + 1vh) + 1em);
    width: 37%;
    height: fit-content;
    background: #07670B3D;
    border: solid #5BAB31 calc(0.03vw + 0.03vh);
    border-radius: calc(1vw + 1vh);
    left: 10vw;
    top: 25vh;
    position: fixed;
    padding: 1% 1%;
    text-align: justify;
}

.sec2 {

    background: #00452b6e;
    left: 33.333%;
    width: 33.333%;
    border: solid #0d5603a9 0.1rem;
    border-radius: 1rem;
    position: fixed;
    bottom: 18%;
    padding: 0.5%;
}

.duLogo {

    max-width: 35%;
    max-height: 100%;
    float: left;
    filter: brightness(0) invert(1);
}

.maLogo {
    max-width: 55%;
    max-height: 100%;
    float: right;
}

.dropDownBar {
    z-index: 1000;
    background: #00000052;
    position: absolute;
    backdrop-filter: blur(10px);
    border-radius: 0rem 0rem 1rem 1rem;
}

body {
    font-family: 'Lemon/Milk light', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: white;
    overflow-x: hidden;
    min-height: 100vh;
    height: 100%;
    position: relative;
    background: #222222;
}

#preload-01 {
    background: url(../img/Fondo-1.png) no-repeat -9999px -9999px;
}

#preload-02 {
    background: url(../img/constructive_bg_02.jpg) no-repeat -9999px -9999px;
}

#preload-03 {
    background: url(../img/constructive_bg_03.jpg) no-repeat -9999px -9999px;
}

#preload-04 {
    background: url(../img/constructive_bg_04.jpg) no-repeat -9999px -9999px;
}

ul {
    margin: 0;
    padding: 0;
}

a,
button {
    transition: all 0.3s ease;
}

button:focus {
    outline: none;
}

a:focus {
    text-decoration: none;
    outline: none;
}

a {
    color: #FFF;
}

a:hover {
    color: #FF0;
}

h1,
h2,
h3 {
    font-weight: 300;
}

p {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

p:last-child {

    margin-bottom: 0;
    font-size: 30px;
}

.tm-bg-transparent-black {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 30px;
}

.tm-contact-box-pad {
    padding: 60px 55px;
}

.tm-border-white {
    border: 1px solid white;
}

.media {
    align-items: center;
}

.tm-icon-circled {
    font-size: 3rem;
    border-radius: 50%;
    border: 1px solid white;
    padding: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.tm-font-big {
    font-size: 1.3rem;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

.tm-main {
    height: 100%;
    min-height: 100vh;
    padding: 0;
}

.tm-main-row {
    height: 100%;
    min-height: 100vh;
    position: relative;
}

/*#tmMainNavToggle { display: none; }*/

#tmSideBar span {

    margin: 1% 1.2%;
}

#tmSideBar span i {
    font-size: 3.5vh;
}

.sidebar {
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: default;
    z-index: 100;
    background: rgba(74, 71, 69, 0.4);
    color: white;
    z-index: 1000;
    position: fixed;
    right: 5%;
    margin-top: 1%;
    width: 40vw;
    height: fit-content;
}

#imglogo a {
    height: 30%;

}

#imgFlag {
    height: 10%;
}

#imgFlag img {
    height: 3.9vh;
}

#imglogo img {
    width: 10.5vw;
}

.tm-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 0%;
    width: 100%;

    position: relative;
}

#searchMenu {
    color: white;
    padding-left: 4%;
    background: #00000000;
    border-radius: 1rem;
    border-color: white;
    border-style: solid;
}

.tm-nav-fa-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 35px;
}

.tm-main-nav {
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../img/fondo-suelo-blanco.png");
    padding-bottom: 0.2rem;

}

.tm-main-nav li {
    list-style: none;
}

.tm-main-nav a {
    font-size: calc((0.1vw + 0.1vh) + 1.3rem);
    padding: .1vh .3vw;
    background-position: left bottom;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.tm-main-nav a i {
    color: #a6ca56;
    padding: 0rem 0.3rem;
}

.tm-main-nav a {
    width: 100%;
    position: relative;
}

.tm-main-nav a:hover,
.tm-main-nav a:focus,
.tm-main-nav a.active {
    color: #ffffff;
    background: #31aa47;
    text-decoration: none;
}

.tm-main-nav a:hover .tm-nav-fa-icon,
.tm-main-nav a:focus .tm-nav-fa-icon,
.tm-main-nav a.active .tm-nav-fa-icon {
    border-color: #33ccff;
}

.fa-menu {
    width: 50px;
    height: 50px;
}

.tm-btn {
    padding: 15px 50px;
    font-size: 1.3rem;
    font-weight: 300;
    background: transparent;
    border-color: white;
    color: white;
    cursor: pointer;
}

.tm-btn:hover,
.tm-btn:focus {
    color: #33ccff;
    border-color: #33ccff;
}

.tm-btn-submit {
    border-radius: 0;
    display: block;
    padding: 15px 43px;
}

.slick-dots {
    bottom: -45px;
}

.slick-dots li button:before {
    font-size: 20px;
}

.slick-slide {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

.tm-text-shadow {
    text-shadow: 0px 3px 2px rgba(50, 50, 50, 1);
}

.tm-section {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
}

.col-md-6.tm-contact-col {
    margin-bottom: 0;
}

.tm-img-slider {
    max-width: 940px;
}

#tm-section-1 {
    width: 100vw;
    height: 100vh;
}



.tm-icon-media {
    margin-right: 1.5rem;
    margin-bottom: 0;
}

address {
    font-size: 1rem;
}

.form-control {
    background: transparent;
    border-color: white;
    color: white;
    font-weight: 300;
    border-radius: 0;
    padding: 15px;
}

.form-control:focus {
    background: transparent;
    color: white;
    border-color: #33ccff;
    box-shadow: none;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1.0;
}

.footer-link {
    position: fixed;
    bottom: 0%;
    color: white;
    text-align: center;
    width: 100%;
    z-index: 999;
    background-image: url(../img/fondo-botones-home.png);
    background-size: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    /* Distribuirá los elementos a lo largo del contenedor */
    align-items: center;
    /* Centra verticalmente los elementos en el contenedor */
    height: 13vh;


}

.portafolio,
.comercial,
.contactanos {
    width: 23%;
    text-align: center;
    border: 1px solid transparent;
    height: 79px;
    background-size: 100%;
    margin-top: 12px;

}
#whatsapp{
    display: none;
}

.portafolio {
    margin-left: 5%;
}

.portafolio img {
    width: 100%;
}

.comercial {}

.comercial img {
    width: 100%;
}

.contactanos {
    margin-right: 5%;
}

.contactanos img {
    width: 100%;
}

.footer-link.relative {
    position: relative;
}

.tm-copyright-text {
    display: inline-block;
    padding: 5px 30px;
    background-color: rgba(0, 0, 0, 0.5);
}

footer a {
    color: white;
}

.catalogo {
    width: 100%;
    height: 82vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0%;
    position: fixed;
}

.catalogo1 {
    width: 33.333333333333333%;
    height: 100vh;
    background-color: transparent !important;
    z-index: 1;
    background-image: url(../img/Imagen\ categoria-06.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.catalogo1 a {
    width: 25%;
}

.catalogo1 img {
    width: 100%;
    z-index: 2;
}


.catalogo2 {
    width: 33.333333333333333%;
    height: 100vh;
    background-color: transparent;
    background-image: url(../img/Imagen\ categoria-07.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.catalogo3 {
    display: none;
    width: 33.333333333333333%;
    height: 100vh;
    background-color: transparent !important;
    background-image: url(../img/Imagen\ categoria-08.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.catalogo4 {
    width: 33.333333333333333%;
    height: 100vh;
    background-color: transparent;
    background-image: url(../img/Imagen\ categoria-09.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box1 {
    margin: 0 auto;
    width: 50%;
    backdrop-filter: blur(10px);
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    /* float: right; */
    z-index: 999;
    /* left: 4%; */
    top: 63%;
    /* margin-left: 0%; */
    /* padding: 2% 2%; */
    border-radius: 20px;
    /* padding-right: 5%; */


}

.box1 h3 {
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 2;
    text-align: center;
    font-size: 35px;
}

.box1 a:hover {
    color: #5BAB31;
}

.box2 {
    margin: 0 auto;
    backdrop-filter: blur(10px);
    width: 50%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    /* float: right; */
    z-index: 999;
    /* left: 4%; */
    top: 63%;
    /* padding: 2% 2%;
    padding-right: 5%; */
    border-radius: 20px;

}

.box2 h3 {
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 35px;

}

.box2 a:hover {
    color: #5BAB31;
}

.box3 {
    margin: 0 auto;
    backdrop-filter: blur(10px);
    width: 50%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    /* float: right; */
    z-index: 999;
    /* left: 4%; */
    top: 63%;
    /* padding: 2% 2%;
    padding-right: 5%; */
    border-radius: 20px;

}

.box3 h3 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}

.box3 a:hover {
    color: #5BAB31;
}

.box4 {
    margin: 0 auto;
    backdrop-filter: blur(10px);
    width: 50%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    /* float: right; */
    z-index: 999;
    /* left: 4%; */
    top: 63%;
    /* margin-left: 0%; */
    /* padding: 2% 2%;
    padding-right: 5%; */
    border-radius: 20px;


}

.box4 h3 {
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}

.box4 a:hover {
    color: #5BAB31;
}

.footer2 {
    position: absolute;
    z-index: 9999 !important;
    bottom: 0px;
    background-color: #31aa47;
    height: 9vh;
    width: 100%;
}

.footer2 img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.conocenos {
    position: fixed;
    color: white;
    /* background-color: rgba(0,0,0,0.25); */
    width: 75%;
    overflow: hidden;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin-left: 12.5%;
    bottom: 0px;
}


.title-conocenos {
    position: relative;
    top: 17%;
    background-color: rgba(0, 139, 58, 0.6);
    color: white;
    text-transform: uppercase;
    height: auto;
    font-size: large;
    border-radius: 15px;
    font-family: 'Centuri Gothic', sans-serif;
    font-weight: 600;
    font-size: 35px;
    width: fit-content;
}



.parrafo-conocenos {
    backdrop-filter: blur(10px);
    position: relative;
    top: 12%;
    background-color: rgba(73, 71, 69, 0.6);
    color: white;
    height: auto;
    background-image: url(../img/fondo-suelo-blanco.png);
    font-size: medium;
    border-radius: 12px;
    font-family: 'Century Gothic', sans-serif;
    font-size: 22px;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: justify;
    line-height: 27px;

}

.parrafo-conocenos p {

    color: white;
    font-size: 17px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
    line-height: 1.1;
    font-family: 'Century Gothic', sans-serif;

}

.img-conocenos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30vh;
    position: relative;
    /* bottom: -15%; */
    /* background-color: #31aa47; */
    top: 15%;


}

.img-conocenos img {
    /* width: 35%; */
    border-radius: 10px;
    height: 215px;
}

.img-conocenos a {
    background-color: rgba(0, 139, 58, 0.6);
    color: white;
    text-transform: uppercase;
    height: auto;
    font-size: large;
    border-radius: 12px;
    font-family: 'Centuri Gothic', sans-serif;
    font-weight: 600;
    font-size: 35px;
    width: fit-content;
    text-align: center;

}

.mision {
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 15%;
    background-color: rgba(73, 71, 69, 0.6);
    color: white;
    height: auto;
    background-image: url(../img/fondo-suelo-blanco.png);
    font-size: medium;
    border-radius: 12px;
    font-family: 'Lemon/Milk light', sans-serif;
    font-size: 25px;
    right: 12%;
    width: auto;
    text-align: center;
    border-radius: 13px;
    border-color: white;
    border: groove;

}
#nuestromovil img {
    display: none;
}

.vision-general {
    position: fixed;
    color: white;
    /* background-color: rgba(0,0,0,0.25); */
    width: 80%;
    overflow: hidden;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin-left: 10%;
    bottom: 0px;
}


.title-vision {
    position: relative;
    top: 15%;
    background-color: rgba(0, 139, 58, 0.6);
    color: white;
    text-transform: uppercase;
    height: auto;
    font-size: large;
    border-radius: 15px;
    font-family: 'Centuri Gothic', sans-serif;
    font-weight: 600;
    font-size: 35px;
    width: fit-content;
}

.mision1 {
    position: relative;
    top: 20%;
    background-color: rgba(0, 139, 58, 0.52);
    color: white;
    text-transform: uppercase;
    height: auto;
    font-size: large;
    border-radius: 15px;
    font-family: 'Centuri Gothic', sans-serif;
    font-weight: 600;
    font-size: 35px;
    width: fit-content;
    left: 70%;
}
.parrafo-vision h4 {
    display: none;
}
.parrafo-mision h4 {
    display: none;
}
.vision {
    backdrop-filter: blur(10px);
    position: relative;
    top: 20%;
    background-color: rgba(0, 139, 58, 0.6);
    color: white;
    text-transform: uppercase;
    height: auto;
    font-size: large;
    border-radius: 15px;
    font-family: 'Centuri Gothic', sans-serif;
    font-weight: 600;
    font-size: 35px;
    width: fit-content;
    left: 20%;

}

.parrafo-vision {
    position: relative;
    top: 22%;
    background-color: rgba(73, 71, 69, 0.6);
    color: white;
    height: auto;
    background-image: url(../img/fondo-suelo-blanco.png);
    font-size: medium;
    border-radius: 12px;
    font-family: 'Lemon/Milk light', sans-serif;
    font-size: 5px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    width: 50%;
}

.parrafo-vision p {

    color: white;
    font-family: 'Lemon/Milk light', sans-serif;
    font-size: 17px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
    line-height: 1.2;
}

.parrafo-mision {
    position: relative;
    top: 21%;
    background-color: rgba(73, 71, 69, 0.6);
    color: white;
    height: auto;
    background-image: url(../img/fondo-suelo-blanco.png);
    font-size: medium;
    border-radius: 12px;
    font-family: 'Lemon/Milk light', sans-serif;
    font-size: 5px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    width: 50%;
    left: 50%;


}

.parrafo-mision p {

    color: white;
    font-family: 'Centuri Gothic', sans-serif;
    font-size: 17px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
    line-height: 1.2;
}

.politica {
    position: fixed;
    /* left: 77%; */
    /* position: relative; */
    top: 15%;
    right: 10%;
    background-color: rgba(0, 139, 58, 0.6);
    color: white;
    height: auto;
    border-radius: 10px;
    font-family: 'Centuri Gothic', sans-serif;
    font-weight: 600;
    font-size: 17x;
    width: fit-content;
    line-height: 55%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;

}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(217, 217, 217, 0.9);
    padding: 20px;
    border-radius: 5px;
    max-width: 80%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup-content p {
    margin: 0;
    text-align: justify;
    color: #6F6D60;
    font-size: 89%;
    /* text-transform: uppercase; */
    line-height: 24px;
    font-family: 'Centuri Gothic', sans-serif;


}
#whatsapp {
    display: none;
}
#nuestromovil{
    display: none;
}

.popup-content h4 {
    margin: 0;
    text-align: left;
    color: #6F6D60;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.popup-content h3 {
    margin: 0;
    text-align: left;
    color: #006838;
    font-size: 20px;
    text-transform: uppercase;

}

.popup-content img {
    width: 15%;
    position: fixed;
    left: 40%;
    bottom: -20%;
}

#modalNotice {
    overflow: auto;
    /* Estilos de la barra de desplazamiento */
}

/* WebKit (Chrome, Safari, Opera) */
#modalNotice::-webkit-scrollbar {
    width: 8px;
    /* Ancho de la barra */
}

#modalNotice::-webkit-scrollbar-thumb {
    background-color:rgba(255, 255, 255);
    /* Color del thumb (el control deslizante) */
    border-radius: 4px;
    /* Radio de borde del thumb */
}

/* Firefox */
#modalNotice::-moz-scrollbar {  
    width: 8px;
}

#modalNotice::-moz-scrollbar-thumb {
    background-color: rgba(255, 255, 255);
    border-radius: 4px;
}

/* Internet Explorer */
#modalNotice {
    scrollbar-width: thin;
    /* Ancho de la barra en IE/Edge */
    scrollbar-color: rgba(255, 255, 255,0.5) transparent;
    /* Color de la barra y del thumb en IE/Edge */
}


#modalNotice {
    border-radius: 2%;
    position: relative;
    width: 50%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    overflow: auto;
}

#modalLogoNotice {
    position: relative;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: auto;
    display: block;
}

#modalBackgroundNotice {
    position: fixed;
    background-color: rgba(24, 24, 24, 0.7);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    z-index: 9999999;

}

#closeModalNotice {
    right: 25.5%;
    position: fixed;
    max-height: 6%;
    padding: 1%;
    color: rgb(255, 255, 255);
    cursor: pointer;
}



/* Estilos para la barra de desplazamiento en el div con la clase "scrollable" */
#modal {
    overflow: auto;
    /* Estilos de la barra de desplazamiento */
}

/* WebKit (Chrome, Safari, Opera) */
#modal::-webkit-scrollbar {
    width: 8px;
    /* Ancho de la barra */
}

#modal::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    /* Color del thumb (el control deslizante) */
    border-radius: 4px;
    /* Radio de borde del thumb */
}

/* Firefox */
#modal::-moz-scrollbar {
    width: 8px;
}

#modal::-moz-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

/* Internet Explorer */
#modal {
    scrollbar-width: thin;
    /* Ancho de la barra en IE/Edge */
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    /* Color de la barra y del thumb en IE/Edge */
}


#modal {
    border-radius: 2%;
    position: relative;
    width: 50%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    background-color: rgba(217, 217, 217, 1);
    overflow: auto;
}

#modalLogo {
    position: relative;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: auto;
    display: block;
}

#modalBackground {
    position: fixed;
    background-color: rgba(0, 104, 56, 0.4);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    z-index: 9999999;

}

#closeModal {
    right: 25.5%;
    position: fixed;
    max-height: 6%;
    padding: 1%;
    color: black;
    cursor: pointer;
}

#miFormulario {
    width: 80%;
    margin: 5% auto;
    background-color: #ffffff00;
    padding: 1%;
    border-radius: 1%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

#miFormulario label,
#miFormulario input[type="text"],
#miFormulario input[type="email"],
#miFormulario button {
    display: block;
    margin-bottom: 2%;
    color: black;
    font-family: 'Centuri Gothic', sans-serif;
}


#miFormulario input {
    width: calc(100% - 20px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#miFormulario button {
    font-family: 'Centuri Gothic', sans-serif;
    background-color: rgba(0, 139, 58, 0.788);
    color: #ffffff;
    border: none;
    border-radius: 5%;
    margin: 2% auto;
    cursor: pointer;
    display: block;

}

#miFormulario button:hover {
    background-color: #0056b3;
}

.custom-alert {
    position: fixed;
    top: 2%;
    /* Posición vertical */
    left: 2%;
    /* Posición horizontal */
    float: left;
    z-index: 99999;
    /* Asegúrate de que la alerta esté por encima de otros elementos */
    display: none;
    /* Oculta la alerta por defecto */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    position: relative;
    width: 70%;
    height: 60%;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;

}

.contenedor-popup {
    position: absolute;
    width: 250%;
    height: 80vh;
    left: -330%;
    top: -1400%;

}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)* 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #004);
}

.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*.img-conocenos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30vh;
    position: relative;*/
/* bottom: -15%; */
/* background-color: #31aa47; */
/*top: 20%;

    
}
.img-conocenos img{
    width: 35%;
    border-radius: 10px;
}
.img-conocenos a{
    background-color: rgba(0,139,58,0.6);
    color: white;
    text-transform: uppercase;
    height: auto;
    font-size: large;
    border-radius: 12px;
    font-family: 'Centuri Gothic', sans-serif;
    font-weight: 600;
    font-size: 35px;
    width: 24%;
    text-align: center;

}
.mision{
    position: absolute;
    bottom: 15%;
    background-color: rgba(73, 71, 69, 0.6);
    color: white;
    height: auto;
    background-image: url(../img/fondo-suelo-blanco.png);
    font-size: medium;
    border-radius: 12px;
    font-family: 'Lemon Milk', sans-serif;
    font-size: 25px;
    right: 12%;
    width: 12%;
    text-align: center;
    border-radius: 13px;
    border-color: white;
    border: groove;

}*/


/* #tm-section-13 {
    overflow: auto;
    padding-top: 32vh;
    width: 100%;
    background-color: white;
    background-image: url(../img/fondo-7.png);
    background-repeat: no-repeat;
    background-size: cover;
} */

#tm-section-16{
    overflow: auto;
    width: 100%;
    background-color: white;
    background-image: url(../img/fondo-7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.nesOptions{
    position: relative;
    margin-top: 2%;
    margin-left: 3.5%;
    height: 10vh;
}

.news{
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.divNewImage{
    width: 56%;
    height: 100%;
    border-radius: 5px;
    margin-right: 2%;
    align-items: center;
    text-align: center;
    background: white;
}
.divNewImage img{
    max-width: 100%;
    height: 100%;
}
.divNewDesc{
    width: 40%;
    height: 100%;
    border-radius: 5px;
    margin-left: 2%;    
    padding: 1%;
}
.divNewDesc p {
    font-size: 17px;
}

.divNewDesc a{
    font-size: 17px;
}

.backgreen{
    background: rgba(0, 104, 56, 1);
    background-image: url(../img/fondo-7.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.backgreenLess{
    background: rgba(166, 202, 86, 1);
    background-image: url(../img/fondo-7.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(0, 104, 56, 1);
    
}
.backgreenGray{
    background: rgba(73, 71, 69, 0.6);
    background-image: url(../img/fondo-7.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.divNew{
    display: inline-flex;
    height: 30vh;
    width: 100%;
    margin: 2vh 0vw;
}

#fatherNewModal {
    margin: 5%;
}

#infoNew {
    margin: 5%;
}

#fatherNewModal #myCarouselNew{
    height: 30vh;
}

#fatherNewModal #myCarouselNew .carousel-inner{
    height: 30vh;
    text-align: center;
    align-items: center;
}
#fatherNewModal #myCarouselNew .carousel-inner div img {
    max-height: 30vh;
    margin-left: auto;
    margin-right: auto;
}

#CarruselDirection{
    height: 5vh;
    display: inline-flex;
    align-items: center;
    margin-left: 45%;
}

#CarruselDirection a{
    color: white;
    font-size: 4vh;
    cursor: pointer;
}

#CarruselDirection img{
 width: auto;
 height: 100%;
 margin-left: 0.5vw;
 margin-right: 0.5vw;
}

#infoNew h5 {
    font-size: calc(0.8vh + 0.8vw);
}

#infoNewDesc {
    text-align: justify;
    font-size: calc(0.63vh + 0.63vw);
    line-height: calc(0.7vh + 0.7vw);
}

#miFormulario h4{
    color: black;
}

.descNew{
    text-align: justify;
    font-size: calc(0.63vh + 0.63vw);
    line-height: calc(0.7vh + 0.7vw);
}

.titleNew{
    font-size: calc(0.8vh + 0.8vw);
}

.buttonNew{
    background: rgba(255, 255, 255, 0);
    border-radius: 6px;
    color: white;
    padding: 0% 1%;
    border-color: white;

}

#newsFather{
    margin-bottom: 2vh;
}


#tm-section-12 ,#tm-section-13 , #tm-section-14 ,#tm-section-15 {
    overflow: auto;
    padding-top: 32vh;
    width: 100%;
    background-color: white;
    background-image: url(../img/fondo-7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.products1 {
    z-index: 100; 
    width: 100%;
    height: 32vh;
    position: fixed;
    top: 0%;
    background-image: url(../img/camion.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.products12 {
    z-index: 100; 
    width: 100%;
    height: 32vh;
    position: fixed;
    top: 0%;
    background-image: url(../img/nutricion.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
}

.products13 {
    z-index: 100; 
    width: 100%;
    height: 32vh;
    position: fixed;
    top: 0%;
    background-image: url(../img/pastos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
}

.products14 {
    z-index: 100; 
    width: 100%;
    height: 32vh;
    position: fixed;
    top: 0%;
    background-image: url(../img/maquinas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.title-product {
    position: relative;
    top: 66%;
    background-color: rgba(0, 139, 58, 0.6);
    color: white;
    text-transform: uppercase;
    height: auto;
    font-size: large;
    border-radius: 15px;
    font-family: 'Centuri Gothic', sans-serif;
    font-weight: 600;
    font-size: 35px;
    width: fit-content;
    left: 55%;
}

.title-news {
    position: relative;
    top: 16%;
    background-color: rgba(0, 139, 58, 0.6);
    color: white;
    text-transform: uppercase;
    height: auto;
    font-size: large;
    border-radius: 15px;
    font-family: 'Centuri Gothic', sans-serif;
    font-weight: 600;
    font-size: 35px;
    width: fit-content;
    left: 55%;
}

.logo-supliers {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    gap: 20px;
    /* flex-wrap: wrap;
    justify-content: space-around; */
    align-items: center;
    background-color: transparent;
    height: 20vh;
    width: 80%;
    left: 10%;
    top: 32%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.logo-supliers1 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    gap: 20px;
    /* flex-wrap: wrap;
    justify-content: space-around; */
    align-items: center;
    background-color: transparent;
    height: 10vh;
    width: 80%;
    left: 10%;
    top: 31%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.logo-supliers2 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    gap: 20px;
    /* flex-wrap: wrap;
    justify-content: space-around; */
    align-items: center;
    background-color: transparent;
    height: 10vh;
    width: 80%;
    left: 10%;
    top: 31%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.logo-supliers img {
    width: 65%;
}
.logo-supliers1 img {
    width: 100%;
}
.logo-supliers2 img {
    width: 80%;
}

.filter-product {
    float: left;
    position: relative;
    background-color: white;
    padding: 1%;
    width: 14%;
    left: 10%;
    top: 34%;
    margin-top: 2%;
}

.filter-product form .filters h4 {
    font-size: 15px;
}

.filter-product form .filters input {
    appearance: none;
    /* Elimina los estilos nativos del checkbox */
    -webkit-appearance: none;
    /* Para navegadores basados en Webkit */
    -moz-appearance: none;
    /* Para navegadores basados en Gecko */

    border-radius: 50%;
    /* Forma circular */
    border: 2px solid #ccc;
    /* Borde del checkbox */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el checkbox */
    width: 10%;
    height: 2.3vh;
    margin-right: 5%;
}

.filter-product form .filters input:checked {
    background-color: #007bff;
    /* Cambia el color de fondo cuando está marcado */
}

.filter-product form .filters label {
    font-size: 15px;
}

.products2 {
    float: right;
    position: relative;
    width: 65%;
    right: 10%;
    top: 10%;
    margin-top: 2%;
}

.divProduct {
    cursor: pointer;
    width: 18%;
    height: 30vh;
    background-color: rgba(49, 170, 71, 1);
    margin: 1%;
    padding: 1%;
    border-radius: 5%;
    float: left;
}

.divProduct div {
    height: 60%;
    width: 100%;
    text-align: center;
    background-color: white;
}

.divProduct div img {
    height: 100%;
    max-width: 100%;
}

.divProduct p {
    font-size: 15px;
}

.divProduct a {
    font-size: 12px;
}

.productsmmaq {
    overflow: auto;
    position: fixed;
    height: 40vh;
    padding: 1% 14%;
    width: 100%;
    left: 0%;
    top: 40%;
    
}

.products15{
    height: 68%;
}

.banner-mavuno {
    position: absolute;
    bottom: 0.8%;
    background-image: url(../img/banner\ mavuno.png);
    background-size: contain;
    background-position: center;
    width: 100%;
    background-size: 100%;
    height: 30%;
    z-index: 1002;
    background-repeat: no-repeat;

}

#fatherProductModal {
    position: relative;
}

#myCarouselProduct {
    width: 40%;
    float: left;
    position: relative;
    max-height: 90%;
}

#fatherProductModal {
    margin: 5%;
}

#infoProduct {
    width: 60%;
    padding: 2% 2%;
    float: right;
}

#infoProduct h5 {
    color: rgba(49, 170, 71, 1);
    font-size: calc(0.8vh + 0.8vw);
}

#infoProductDesc {
    color: rgba(111, 109, 96, 1);
    text-align: justify;
    font-size: calc(0.63vh + 0.63vw);
    line-height: calc(0.7vh + 0.7vw);
}

#infoProduct .filtersProduct {
    color: rgba(55, 130, 82, 1);
    font-size: calc(0.63vh + 0.63vw);
    line-height: calc(0.7vh + 0.7vw);
}

#infoProduct .DocProducts {
    color: rgba(49, 170, 71, 1);
    font-size: calc(0.63vh + 0.63vw);
    line-height: calc(0.7vh + 0.7vw);
}

.ContentFiles {
    width: 100%;
    display: inline-flex;
    margin: 0.5% 1%;
}
.functionPrducts{
    width: 100%;
    text-align: center;
}

.ContentFile {
    width: 90%;
}

.ContentFile a {
    color: #002907;
    font-size: calc(0.7vh + 0.7vw);
}

.ContentFileActions {
    width: 10%;
}

.ContentFileActions button {
    height: 100%;
    background-color: rgb(223, 0, 0) !important;
    transition: 0.3s;
}

.ContentFileActions button:hover {
    transition: 0.3s;
    background-color: rgb(184, 89, 0) !important;
}



@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Josefin+Slab|Arvo|Lato|Vollkorn|Abril+Fatface|Old+Standard+TT|Droid+Sans|Lobster|Inconsolata|Montserrat|Playfair+Display|Karla|Alegreya|Libre+Baskerville|Merriweather|Lora|Archivo+Narrow|Neuton|Signika|Questrial|Fjalla+One|Bitter|Varela+Round);

.background {
    pointer-events: all;
}

.map-layer {
    fill: #fff;
    stroke: #aaa;
}

#map-container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: fixed;
    left: 0%;

}

#inlineFrameExample {
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    /* Ajusta el ancho del mapa al 100% del contenedor */
    height: 100%;
    /* Ajusta la altura del mapa al 100% del contenedor */
}

.effect-layer {
    pointer-events: none;
}

text {
    font-family: 'Lemon/Milk light', sans-serif;
    font-weight: 300;
}

text.big-text {
    font-size: 30px;
    font-weight: 400;
}

.effect-layer text,
text.dummy-text {
    font-size: 12px;
}


.hide {
    display: none !important;
    height: 0px;
}

.bgWorkUs {
    width: 33.33333333333333%;
    height: 100%;
    position: relative;
    float: left;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.bg-a {
    background: url(../img/trabaja\ con\ nostros\ 1.png);
}

.bg-b {
    background: url(../img/Trabaja\ con\ nosotros\ 2.png);
}

.bg-c {
    background: url(../img/Trabaja\ con\ nosotros\ 3.png);
}

.workUs {
    position: fixed;
    display: block;
    bottom: 8%;
    left: 16%;
    width: 68%;
    height: 38%;
}

.workUsdv-2 {
    height: 20%;
    position: relative;
    text-align: center;
    width: 100%;
}

.workUsdv-2 img {
    float: right;
    height: 100%;
}

.workUsdv-2-title {
    padding: 1.3%;
    margin: 0px;
    font-size: calc((0.5vw + 0.5vh) + 0.9em);
}

.workUsdv-2 div {
    float: right;
    width: 53%;
    height: 80%;
    margin-top: 0.5%;
    border-radius: 1em;
    backdrop-filter: blur(4px);
    background: rgba(82, 82, 82, 0.596);
}


.workUsdv-1 {
    height: 80%;
    position: relative;
    text-align: center;
    background: rgba(82, 82, 82, 0.596);
    padding: 0.2%;
    border-radius: 1em;
    background-image: url(../img/fondoTrabacaNosotros.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(4px);

}

.workUsdv-1 img {
    height: 25%;
}

.alerta {
    position: fixed;
    top: 1%;
    left: 1%;
    padding: 1% 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 9999;
    border-bottom-right-radius: 2rem;
}

.alerta p {
    font-size: 20px;
}

.workUsdv-1 h4 {
    margin-bottom: 0px;
}

@media (max-width: 1800px) {
    .tm-section {
        margin-right: auto;
        position: fixed;
        left: 0%;
        /* bottom: 10%; */
        width: 100%;
        height: 100vh;
    }
}

@media (max-width: 1724px) {
    .tm-nav-fa-icon {
        margin-right: 25px;
    }

    .tm-main-nav a {
        padding-right: 10px;
    }

    .tm-content {
        padding: 50px 5%;
    }
}

@media (max-width: 1400px) {

    .tm-main-nav {
        font-size: 1.4rem;
    }

    .tm-main-nav a {
        padding-right: 10px;
    }

    .tm-nav-fa-icon {
        margin-right: 25px;
    }

    .sidebar {
        /*      padding: 60px 30px;*/
    }

    .sec1 p {
        font-size: 0.43em;
    }

    .conocenos {
        position: fixed;
        color: white;
        /* background-color: rgba(0,0,0,0.25); */
        width: 75%;
        overflow: hidden;
        /* display: flex; */
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        margin-left: 12.5%;
        bottom: 0px;
    }

    .parrafo-conocenos {
        backdrop-filter: blur(10px);
        position: relative;
        top: 9%;
        background-color: rgba(73, 71, 69, 0.6);
        color: white;
        height: auto;
        background-image: url(../img/fondo-suelo-blanco.png);
        font-size: medium;
        border-radius: 12px;
        font-family: 'Century Gothic', sans-serif;
        font-size: 22px;
        padding-bottom: 1%;
        text-align: justify;
        line-height: 27px;
    }

    .parrafo-conocenos p {
        color: white;
        font-size: 15px;
        padding-left: 2%;
        padding-right: 2%;
        text-align: justify;
        line-height: 1.1;
        font-family: 'Century Gothic', sans-serif;
    }

    .img-conocenos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 30vh;
        position: relative;
        /* bottom: -15%; */
        /* background-color: #31aa47; */
        top: 14%;
    }

    .img-conocenos img {
        /* width: 35%; */
        border-radius: 10px;
        height: 200px;
    }

    .title-conocenos {

        font-size: 27px;
    }

    .img-conocenos a {

        font-size: 27px;

    }

    .title-vision {

        top: 17%;
        font-size: 27px;
    }

    .politica {

        top: 17%;
        font-size: 17px;

    }

    .vision {

        top: 20%;
        background-color: rgba(0, 139, 58, 0.6);
        font-size: 27px;

    }

    .parrafo-vision p {

        font-size: 15px;

    }

    .parrafo-mision p {

        font-size: 15px;
    }

    .popup-content {

        top: 45%;
        padding: 18px;
        border-radius: 5px;
        max-width: 100%;

    }

    .popup-content h3 {

        font-size: 17px;
    }

    .popup-content h4 {

        font-size: 15px;

    }

    .popup-content p {

        font-size: 88%;

    }

}

@media (max-width: 1340px) {
    .tm-content {
        padding: 50px;
        margin: 0 auto;
    }
}

@media (max-width: 1199px) {
    .col-md-6.tm-contact-col {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 991px) {

    /*  Nav toggle
        https://www.youtube.com/watch?v=uyT3NSHhke8
    */

    .tm-main-row {
        position: relative;
    }

    #tmMainNavToggle {
        display: block;
        position: absolute;
        right: -60px;
        top: 0;
    }

    .menu-icon {
        padding: 10px 15px;
        background: #000000c4;
        border: 1px solid;
        color: #33ccff;
        cursor: pointer;
        margin-top: 4px;
        margin-left: 4px;
        border-radius: 5px;
        width: 60px;
        height: 50px;
        z-index: 1001;
    }

    #tmSideBar {

        width: 300px;
        position: fixed;
        left: 40%;
        min-height: 100vh;
        height: auto;
        right: 300px;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
    }

    #tmSideBar.show {
        right: 0;
    }

    .sidebar {
        background: rgba(0, 0, 0, 0.6);
        padding: 20px;
    }

    .tm-main-nav a {
        padding-bottom: 20px;
        margin: 20px 0 25px 0;
    }

    .tm-section {
        margin-left: auto;
    }

    .tm-section-carousel {
        max-width: 1800px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .tm-content {
        padding: 50px 30px;
    }
}

@media (max-width: 640px) {
    .tm-section-carousel {
        max-width: 100%;
        padding-bottom: 50px;
    }
}

@media (max-width: 600px) {
    #dropDownBar{
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100vh;
    }
    .tm-contact-box-pad {
        padding: 30px 25px;
    }


    .footer-link {
        margin: 0 auto;
        width: 100%;
        height: 50%;
        display: flow;
        background-size: 900%;
    }

    .sidebar {

        right: 0%;
        width: 100%;
        border-radius: 0%;
    }

    #tmSideBar {
        width: 100%;
        position: fixed;
        height: 10%;
        bottom: 0%;
        min-height: 10%;
        left: 0%;

    }

    .portafolio,
    .comercial,
    .contactanos {
        width: 80%;
        text-align: center;
        border: 1px solid greenyellow;
        height: 15%;
        background-size: 100%;
        margin-top: 12px;
        margin-left: 10%;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.6);

    }
    .whatsapp{
        width: 80%;
        text-align: center;
        border: 1px solid greenyellow;
        height: 15%;
        background-size: 100%;
        margin-top: 12px;
        margin-left: 10%;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .portafolio img{
        width: 10%;
    position: fixed;
    top: 52.7%;
    left: 15%;
    }
    .comercial img{
        width: 8%;
    position: fixed;
    top: 61.7%;
    left: 15%;
    }
    .contactanos img{
        width: 10%;
    position: fixed;
    top: 70.7%;
    left: 15%;
    }
    .whatsapp img{
        width: 10%;
    position: fixed;
    top: 79.7%;
    left: 15%;
    } 
    .texcel{
        width: 72%;
        left: 24%;
        position: relative;
        margin-top: -18%;
        margin-left: 3%;
    }
    .tm-main-nav {
        background: none;
    }
    #nuestro{
        display: none;
    }
    #nuestromovil{
        display: flex;
        justify-content: space-between;
        /* position: relative; */
        font-size: 80%;
        text-align: center;

    }

    #nuestromovil img{
        width: 50%;
    }
    .whocel img{
        width: 20%;

    }
    .tm-main-nav {
  
        /* display: none; */
   
    }
    #imgFlag{
        position: fixed;
        top: -900%;
        right: -30%;
        width: 50%; 
       }

    #imgFlag img{
        display: block;
        height: 3vh;
        }
    #searchMenu {

        display: none;
    }

    .sec1 {

        width: 75%;
        left: 12.5%;
        top: 8%;
        position: fixed;
        padding: 2% 5%;
        text-align: justify;
    }

    .sec1 p {
        line-height: 20px;
        font-family: 'Lemon/Milk light', sans-serif;
    }

    .sec2 {

        left: 20%;
        width: 60%;
        bottom: 55%;

    }

    

    #whatsapp {
        display: flex;
    }

    #facebook {
        display: none;
    }

    #instagram {
        display: none;
    }

    #loader img {
        width: 70%;
        left: 15%;
        top: 40%;
    }

    #imglogo img {
        width: 100%;
    }

    /* #dropDownBar {
        left: 50%;
        width: 50%;
        bottom: 10%;
        border-radius: 0px;
    } */

    #tmMainNav {
        position: fixed;
        bottom: 10%;
        width: 100%;
        left: 0%;
    }

    .catalogo {
        display: flow;
        left: 0%;
        margin-top: 0%;
    }

    .catalogo1,
    .catalogo2 {
        height: 23%;
        width: 100%;
        left: 0%;
    }

    .catalogo4 {
        height: 30%;
        width: 100%;
        left: 0%;
    }
    .catalogo3 {
        display: none;
    }

    #tm-section-2 {
        width: 100%;
    }

    .footer2 {

        top: 0px;
        height: 4%;
        width: 100%;
        left: 0%;
        right: 0%;
    }

    .box4 {
        width: 75%;
        position: relative;
        float: center;
        top: 22%;
        right: 12.5%;
        border-radius: 10px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .box1,
    .box2,
    .box3 {
        width: 75%;
        position: relative;
        float: center;
        top: 22%;
        right: 12.5%;
        border-radius: 10px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .box1 h3 {
        text-align: center;

    }

    .box2 h3 {
        text-align: center;

    }

    .box3 h3 {
        text-align: center;

    }

    .box4 h3 {
        text-align: center;

    }

    .conocenos {

        width: 100%;
        display: flow;
        height: 100vh;
        left: 0%;
        margin-left: 0%;
        overflow: auto;
    }

    .title-conocenos {
        width: 90%;
        margin-left: 5%;
        text-align: center;
        top: 8%;
    }

    .parrafo-conocenos {
        top: 2%;
        width: 90%;
        margin-left: 5%;
    }

    .parrafo-conocenos p {

        font-size: 18px;
        padding-left: 9%;
        padding-right: 9%;
        padding-top: 4%;
        padding-bottom: 4%;
        font-weight: 400;
        line-height: 1.2;
        font-family: 'Century Gothic', sans-serif;
    }

    .tm-section-3 {
        height: auto;
        overflow: scroll;
    }

    .img-conocenos {
        /* display: flow; */
        align-items: center;
        width: 90%;
        top: 30%;
        left: 5%;
        flex-flow: wrap-reverse;

    }

    .img-conocenos img {
        padding: 2% 2%;
        width: 100%;
    }

    .img-conocenos a {
        width: 100%;
        text-align: center;
    }
    .workUs {
    
    bottom: 44%;
    left: 10%;
    width: 80%;
}
.workUsdv-2 {
    
    display: flex;
    flex-direction: column-reverse;
}
.bgWorkUs {
    width: 100%;
    height: 33.333%;
    position: relative;
    float: left;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.workUsdv-1 {
    height: 100%;
    position: relative;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.2%;
    border-radius: 1em;
    background-image: url(../img/fondoTrabacaNosotros.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(4px);
    margin-top: 12%;
}
.workUsdv-2 div {
    float: right;
    width: 80%;
    height: 6%;
    margin-top: 5.5%;
    border-radius: 1em;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 17%;
    padding-top: 2%;
    letter-spacing: 0.1em;
}
.workUsdv-2 img {
    height: 10%;
    width: 20%;
    left: 40%;
    position: fixed;
    top: 10%;
}
.workUsdv-1 h4{
    text-transform: capitalize;
    font-size: 100%;
    font-weight: lighter;
}
.workUsdv-1 p{
    text-transform: capitalize;
    font-size: 65%;
}
.mision{
    bottom: -64%;
}
.title-vision {
    top: 8%;
    text-align: center;
}
.tm-section10{
    overflow: scroll;
    overflow-y: scroll;
}
.parrafo-vision {
    position: fixed;
    top: 47%;
    background-color: rgba(73, 71, 69, 0.6);
    color: white;
    height: auto;
    background-image: url(../img/fondo-suelo-blanco.png);
    font-size: medium;
    border-radius: 12px;
    font-family: 'Lemon/Milk light', sans-serif;
    font-size: 5px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    width: 80%;
}
.vision {
   display: none;
}

.mision1 {
  display: none;
}
.parrafo-mision h4{
    display: block;
    text-align: center;
}
.parrafo-vision h4{
    display: block;
    text-align: center;
}
.parrafo-mision {
    position: fixed;
    top: 20%;
    left: 10%;
    background-color: rgba(73, 71, 69, 0.6);
    color: white;
    height: auto;
    background-image: url(../img/fondo-suelo-blanco.png);
    font-size: medium;
    border-radius: 12px;
    font-family: 'Lemon/Milk light', sans-serif;
    font-size: 5px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    width: 80%;
}

.politica {
    top: 77%;
    position: fixed;
    left: 10%;
    width: 80%;
    line-height: 1px;
    height: auto;
}
.politica a{
    padding-bottom: 2.5%;
    margin: 2px 1px 5px 1px;
    margin-top: 0%;
    padding-top: 2.5%;
    text-decoration: underline;
    
}


}


@media (max-width: 500px),
(max-width: 809px) and (min-width: 767px) {
    .media {
        flex-direction: column;
    }

    .tm-icon-media {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
}

/* Loader */

#loader-wrapper {
    position: fixed;
    background-color: rgba(230, 230, 230);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

#loader {
    /*    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: green;*/

    /*-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    /*animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

#loader img {

    width: 40%;
    position: fixed;
    left: 30%;

}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: greenyellow;

    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: green;

    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

.search-container {
    width: 100%;
    height: 10vh;
}

.search-input {

    width: 95%;
    /* Ancho del input */
    margin: 0.3%;
    /* Espaciado interno (arriba, derecha, abajo, izquierda) */
    padding: 0.2%;
    border: 0.5% solid #ccc;
    /* Borde del input */
    border-radius: 1%;
    /* Bordes redondeados */
}

/* Estilo para el icono de búsqueda */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: rgba(230, 230, 230);
    z-index: 1000;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);
    /* IE 9 */
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}